body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

header {
  text-align: center;
  padding: 25px 0 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: relative;
}
header img {
  width: 197px;
}

#location-icon-header {
  text-align: center;
  background-color: #EAEAEA;
}
#location-icon-header i {
  margin-right: 13px;
}
#location-icon-header p {
  margin: 0;
  padding: 15px;
}

#reservez-menu {
  text-align: center;
  padding: 10px;
}
#reservez-menu p {
  color: #353535;
  padding: 10px;
}

.button-pink {
  border: 1px solid rgba(238, 130, 238, 0);
  background: linear-gradient(139deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 15px;
  color: white;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.button-pink:hover {
  border: 1px solid violet;
  color: grey;
  background: linear-gradient(139deg, rgb(245, 195, 231) 0%, rgb(207, 177, 244) 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#fonctionnement {
  padding: 30px 20px 65px 20px;
  background-color: #FFFFFF;
}
#fonctionnement p {
  background-color: #F7F7F7;
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  margin: 20px 13px 20px 14px;
  position: relative;
}
#fonctionnement p span {
  background-color: #9356DC;
  color: white;
  padding: 5px 4px 5px 5px;
  border-radius: 40px;
  width: 11px;
  height: 11px;
  display: inline-block;
  line-height: 10px;
  position: absolute;
  left: -8px;
}

#restaurants {
  padding: 30px 20px 65px 20px;
}
#restaurants .article-restaurants {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
#restaurants .article-restaurants span {
  position: absolute;
  background: aqua;
  padding: 8px 15px;
  top: 15px;
  right: 15px;
}
#restaurants .article-restaurants img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}
#restaurants .article-restaurants .footer-article-restaurants {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
#restaurants .article-restaurants .footer-article-restaurants h3 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}
#restaurants .article-restaurants .footer-article-restaurants p {
  margin: 0;
}
#restaurants .article-restaurants .footer-article-restaurants i {
  font-size: 1.8em;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 15px;
}
footer h2 {
  font-family: "Shrikhand", serif;
}
footer i {
  margin-right: 10px;
}
footer a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}
footer div {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
    margin: auto;
  }
  #fonctionnement-etapes {
    display: flex;
    justify-content: space-between;
  }
  #restaurants-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #restaurants .article-restaurants {
    width: 45%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  footer h2 {
    margin-left: 50px;
    margin-right: 50px;
  }
  footer div {
    flex-direction: row;
  }
  footer :nth-child(3) {
    margin-left: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
